#topSideBar {
  position: absolute;
  width: 15%;
  left: 42.5%;
  height: 100px;
  top: -50px;
  transition: all 0.3s;
  font-size: 20px;
  background-color: #2c303a;
  -webkit-box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
  border-radius: 0 0 5px 5px;
  cursor: pointer;
  z-index: 1000;
  font: 16px/18px Arial, Helvetica, sans-serif;
}

#topSideBar p {
  width: 100%;
  position: absolute;
  margin: 0px;
  bottom: 0px;
  color: whitesmoke;
  z-index: 1000;
  text-align: center;
}

#topSideBar:hover {

  top: 0px;
  width: 100%;
  left: 0%;
}