requests
flask
deprecated
rootpath
flask_cors
python-twitter
lxml
numpy
pandas
allennlp
torch
torchvision
gensim
keras_preprocessing
timeout_decorator
python-dateutil
bs4
selenium
pyproj
pygrib
rasterio
fiona
gdal==2.4.2
mypy