torch
matplotlib
deprecated
beautifulsoup4
selenium
wget
allennlp
pyproj==2.2.1
rootpath
flask
flask-cors
pygrib
requests
python-twitter
pandas
nltk==3.4.3
numpy==1.16.4
psycopg2==2.8.3
timeout-decorator
mypy
