<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="toggle" id="toggle" (click)="expand()">
<i class="fa fa-plus" id="plus"></i>
  </div>
<div class="menu" id="menu"  (click)="expand()" >
  <a href="#">
    <i class="fa fa-microphone"></i>
  </a>
   <a href="#">
    <i class="fa fa-user"></i>
  </a>
  <a href="#">
    <i class="fa fa-video-camera"></i>
  </a>
  <a href="#">
    <i class="fa fa-envelope"></i>
  </a>
  <a href="#">
    <i class="fa fa-camera"></i>
  </a>
  <a href="#">
    <i class="fa fa-bell"></i>
  </a>
</div>
