@keyframes breath {
    0% {
        border-bottom: solid 2px gray;
        color: white;
    }
    50% {
        border-bottom: solid 2px #e25822;
        color: #e25822;
    }
    100% {
        border-bottom: solid 2px gray;
        color: white;
    }
}

#searchBox {
    height: 2rem;
    width: 300px;
    position: absolute;
    top: 5%;
    left: 40%;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.0);
    border: None;
    border-bottom: solid 2px gray;
    font-size: 1.2rem;
    color: white;
}

#searchBox:hover {
    animation: breath 2s infinite;
    border-bottom: solid 2px #e25822;
}

#searchBox::placeholder {
    color: white;
    font-size: 1rem;
}
