#info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    color: #ff8420;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(251, 227, 0, 0.2);
    border-radius: 5px;
    position: absolute;
    top: 1%;
    left: 10%;
    z-index: 1000000;
}
